@import '../../styles/all.scss';

.project {
  flex-grow: 1;

  &__header {
    display: inline-block;
    padding: 11px 15px;
    border-right: 1px solid $dark-grey;
    @include typography-large();
  }

  &__table-wrapper {
    border-top: 1px solid $dark-grey;
  }

  &__table-header {
    position: relative;
    display: flex;
    color: $grey;

    &:before {
      content: '';
      position: absolute;
      left: 10px;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: $dark-grey;
    }
  }

  &__table-header-rest-items {
    display: flex;
    flex-grow: 1;
  }

  &__table-header-item {
    width: 12.5%;
    padding: 10px 0;

    &_lvl {
      width: auto;
      padding-left: 25px;
    }

    &_rowName {
      width: 50%;
    }
  }
}
