@mixin typography-large {
  font-size: 18px;
  line-height: 21px;
}

@mixin typography-body {
  font-size: 14px;
  line-height: 16px;
}

@mixin typography-small {
  font-size: 10px;
  line-height: 12px;
}
