@import './styles/all.scss';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: $dark-brown;
  color: $white;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
