@import '../../styles/all.scss';

.edit-list-item {
  display: flex;
  align-items: center;
  gap: 62px;
  height: 60px;
  padding-left: 25px;

  &_new-item {
    position: relative;
    padding-left: 0;

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      top: -22px;
      left: -18px;
      height: 52px;
      background-color: $light-grey;
    }

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      left: -18px;
      height: 1px;
      background-color: $light-grey;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;

    // only 10 levels of nesting
    @for $value from 0 through 10 {
      &_lvl-#{$value} {
        &:after {
          content: '';
          position: absolute;
          bottom: -12px;
          height: 1px;
          left: calc(#{$value} * (-25px) - 91px);
          width: calc(100% + (#{$value} * 25px) + 81px);
          background-color: $dark-grey;
        }
      }
    }
  }

  &__input-wrapper {
    width: 12.5%;

    &_rowName {
      width: 50%;
    }
  }

  &__input {
    width: calc(100% - 24px);
    height: 36px;
    padding: 10px;
    border: 1px solid $dark-grey;
    border-radius: 6px;
    background-color: transparent;
    color: $middle-grey;
    letter-spacing: 0.1px;
    outline: none;
  }
}
